# Binaries for testing locally
mdsnip
mdsnip.exe

# Exclude generated and local config files
index.html
types.d.ts

# Build artifacts
dist/

# OS Files
.DS_Store
Thumbs.db
*.swp
*.bak
*~

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Go
go.work
vendor/
*.test
*.out

# Logs
*.log
